form.form-inline url=sources_path method="POST" action=sources_path
  input.form-control.mb-2.mr-sm-2 type="text" placeholder="https://..." name="source[url]" required="" autofocus=""
  button.btn.btn-primary.mb-2 type="submit" Add
