.new-feed-open-form {
  text-align: center;
  cursor: pointer;
}

.feeds-list-item {
  display: flex;

  .feed-name {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover .feed-actions { display: inline; }
  .feed-actions {
    flex-grow: 0;
    display: none;
    white-space: nowrap;

    .feed-action {
      @extend .px-2;
      @extend .py-1;
      cursor: pointer;

      opacity: 0.5;
      &:hover { opacity: 1; }
    }
  }
}
