.source-wrapper {
  @extend .col-sm-6;
  @extend .col-md-4;
  @extend .col-lg-3;
}

.source {
  @extend .mb-4;
  border: none;

  .source-title {
    font-size: 1rem;
    font-weight: bold;

    max-height: 2.4rem;
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    -webkit-line-clamp: 2;
  }

  .source-author {
    font-size: .9rem;
  }
}

.source-thumbnail-wrapper {
  @extend .mb-2;

  position: relative;
  width: 100%;
  background-color: #000000;

  @include media-breakpoint-down(lg) { height: 118px; }
  @include media-breakpoint-down(sm) { height: 135px; }
  @include media-breakpoint-down(xs) { height: 170px; }
  height: 144px;

  display: flex;
  align-items: center;
  justify-content: center;

  .source-thumbnail {

    max-width: 100%;
    max-height: 100%;

    &.placeholder {
      width: 100%;
      height: 100%;
    }
  }

  &:hover .actions {
    display: flex;
  }

  .actions {
    display: none;

    position: absolute;

    &.top { top: .5em; }
    &.bottom { bottom: .5em; }
    &.right { right: .5em; }
    &.left { left: .5em; }

    .action {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 5px;
      float: none;
      background: black;
      color: white;
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 3px;

      opacity: .6;
      &:hover {
        opacity: .8;
      }

      a { color: white; }
    }
  }
}
