.subscribe {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;

  .subscribe-icon {
    cursor: pointer;
    font-size: 4rem;
    opacity: 0.2;
    margin: 1rem;
  }
}

.subscribe-modal {
  .qrcode {
    display: block;
    margin: 0 auto;
  }
}
